<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class='container'>
            {% for x in result: %}
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                        <p class="card-text">{{ x |safe }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>



<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
        <!-- <div class="card"> -->
          <div class='col-lg-4 col-lg-offset-4' style="align-content: center">
    {% for x in result: %}
    
              <div class="card bg-primary">
                <div class="card-body text-center">
                    <p class="card-text">{{ x |safe }}</p>
                </div>
              </div> 
              
     {% endfor %}
          </div>
        <!--</div>-->
    <form>
        <input name='Back' type='button' onclick='history.back()' value='Go Back!'/>
    </form>
</body>


</html>